{% extends "base2.html" %}
{% load static %}

<title>Home Page Template</title>

{% block base_head %}
<link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}

{% block content %}


<div class='row'>
    <div class='col'>
    	
    	<!-- <img src="{% static 'img/mscott.png' %}" class='img-fluid' width="100%"/> -->
    	<p>{{ content }}</p>
	</div>
</div>

<div class='text-center'>
	<h1 >{{ title }}</h1>
	<h1>Currently underconstruction rn :( </h1>
</div>

<!--Shows how to display something only if the user is logged in 
{% if request.user.is_authenticated %}
<div class='row'>
	<div class='col'>
	<h1>Premium</h1>
	{{ premium_content }}
	</div>
</div>

{% endif %}-->

{% endblock %}

