{% extends "base.html" %}

{% block content %}
<style>
.checkout{
  background-color:none;
  color: white;
}
.checkout:hover{

  text-decoration: none;
}
.title{
  background-color:none;
  color: black;
  font-size:17px;
  padding: 15px;
}
.title:hover{

  text-decoration: none;
}
.h3{
  text-align: center;
}

</style>

<h4><center>Your Cart</center></h4>

{% if cart.products.exists %}
<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:60%">Product</th>
							<th style="width:15%">Price</th>
							<th style="width:9%">Quantity</th>
							<th style="width:22%" class="text-center">Est. Shipping</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
              {% for product in cart.products.all %}
						<tr>
							<td data-th="Product">
								<div class="row">

									<div class="col-sm-2 hidden-xs"><a href ='{{ product.get_absolute_url }}'><img src="{{ product.image.url }}" width="150%" height="" alt="..." class="img-responsive"/></a></div>

                  <div class="col-sm-10">
										<h4 class="nomargin">
                      <a style="text-decoration: none" href='{{ product.get_absolute_url }}'> <div class ="title">{{ product.title }}</div></a>
                    </h4>
									</div>
								</div>
							</td>
							<td data-th="Price">${{ product.price }}</td>
							<td data-th="Quantity">
                <div> <center> 1 </center></div>
              </td>

							<td data-th="Subtotal" class="text-center">$0</td>
							<td class="actions" data-th="">
								{% include 'products/snippets/update-cart.html' with product=product cart=cart %}
                            </td>
              {% endfor %}
						</tr>
          </tbody>
					<tfoot>
						<tr>
							<td><a href="{% url 'products:list' %}" class="btn btn-warning" style="font-size: 14px;"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
              <td colspan="2" class="hidden-xs"></td>

							<td class="hidden-xs text-center"><strong>Total ${{ cart.total }}</strong></td>
							<td>
                  <button type="button" class="btn btn-success btn-lg">
{#                <a style="text-decoration:none" href ="{% url 'payment:process' %}"><div class ="checkout" style ="font-size: 25ßpx;">Checkout</div></a></button>#}
                      <a style="text-decoration:none" href ="{% url 'payment:checkout' %}"><div class ="checkout" style ="font-size: 25ßpx;">Checkout</div></a></button>
              </td>
            </tr>

          </tfoot>

				</table>
</div>


<!-- <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
        {% for product in cart.products.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href='{{ product.get_absolute_url }}'> {{ product.title }}</a></td>
        <td>{{ product.price }}</td>
        <td>
                {% include 'products/snippets/update-cart.html' with product=product cart=cart %}
        </td>
      </tr>
        {% endfor %}
      <tr>
        <td colspan="3"></td>
        <td><b>Subtotal</b> {{ cart.subtotal }}</td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td><b>Total</b> {{ cart.total }}</td>
      </tr>
      
        <td colspan="3"></td>
        <td>
        <button type="button" class="btn btn-success btn-lg">
          <a style="text-decoration:none" href ="{% url 'payment:process' %}"><div class ="checkout">Checkout</div></a></button>
        </td>
     
    </tbody>
  </table> -->





{% else %}
<hr>
<p><center>Your cart is currently empty.</p>
<a href="{% url 'products:list' %}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</center></a>

{% endif %}


{% endblock %}