{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% block content %}
<style>
.box1{
	height: 70vh;
	width: 100%;
	background-image: url('{% static 'img/banner7.jpg' %}');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: table;
	padding: 20px;
	position: absolute;
    left: 0;
    right: 0;
}

</style>

	<div class="box1">
		<p style=" display: table-cell; padding: 15em; position: center">
				
				<h2>Login</h2>
			
				<form method='POST'>{% csrf_token %}
					{{ form.as_p }}
					<button type='submit' class='btn btn-info '>Login</button>
					<a href="{% url 'register' %}" class ="btn btn-danger">Sign Up</a>
				<br> <br>
					<a href="{% provider_login_url 'google' %}" class ="btn btn-warning">Log In with Gmail</a>
				</form>
	</p>
	</div>

	

	
{% endblock %}