{% extends "base.html" %}
{% block content %}

<!-- CSS PORTION -->
<style>
.button{
  background-color:none;
  color:black;
}
.button:hover{
  text-decoration: none;
}
.overall{
}
</style>

<!-- this is the shop page layout for the products -->
<div class='row'>
	<div class='col-12 col-md-6'>
		{% if object.image %}
		<img src='{{ object.image.url }}' class='img-fluid'/> 
		{% endif %}
	</div>
	<div class ='col-12 col-md-6'>
		<div class ="overall">
			<h2>{{ object.title }}</h2>
			{{ object.timestamp|timesince }} ago
			<br>
			Posted by <strong><i><a href="{% url 'products:user-products' author=object.author %}"> {{ object.author }}</a></i></strong>
			<br>
			<strong>${{ object.price}}</strong>
			<br>
			<br>
			{% if user.is_authenticated %}
				{% if object.author == user %}
					{% if object.active == True %}
						<div>
							<button type="button" class="btn btn-warning"><a style="text-decoration:none" href="{% url 'products:product-edit' slug=object.slug %}"><div class ="button">Edit Listing</div></a></button>

							<button type="button" class="btn btn-danger"><a style="text-decoration:none" href="{% url 'products:product-delete' slug=object.slug %}"><div class ="button">Delete</div></a></button>
						</div>
					{% else %}
						<i><font color="red">(ITEM HAS SOLD TO {{object.buyer}} ) </font></i>
						<br>
					{% endif %}
				{% else %}
					{% include 'products/snippets/update-cart2.html' with product=object cart=cart %}
				{% endif %}
			{% else %}
				<div>
					<button type="button" class="btn btn-warning"><a style="text-decoration:none" href="{% url 'login' %}"><div class ="button">Login to Purchase</div></a></button>
				</div>
			{% endif %}
			<br>
		    {{ object.description|linebreaks }}
		</div>
	</div>
</div>
{% endblock %}
