{% extends "base.html" %}

{% block content %}

<style>
.button{
  background-color:none;
  color:black;
}
.button:hover{

  text-decoration: none;
}
.overall{
}
</style>

<div class='row'>
	<div class='col-12 col-md-6'>
		<!-- <h1>{{ object.title }}</h1>
		 {{ object.timestamp|timesince }} ago
		 {{ object.description|linebreaks }} <br/> -->
		 {% if object.image %}
			<img src='{{ object.image.url }}' class='img-fluid'/> 
		 {% endif %}
	</div>
	<div class ='col-12 col-md-6'>
		<div class ="overall">
			<h2>{{ object.title }}</h2>
			{{ object.timestamp|timesince }} ago
			<br>
			Posted by <strong><i><a href="{% url 'products:user-products' author=object.author %}"> {{ object.author }}</a></i></strong>
			<br>
			<strong>${{ object.price}}</strong>
			<br>
			<br>


			{% if object.author == user %}
				{% if object.active == True %}
				<div>
					<button type="button" class="btn btn-warning"><a style="text-decoration:none" href="{% url 'products:product-edit' slug=object.slug %}"><div class ="button">Edit Listing</div></a></button>

					<button type="button" class="btn btn-danger"><a style="text-decoration:none" href="{% url 'products:product-delete' slug=object.slug %}"><div class ="button">Delete</div></a></button>
				</div>
				{% else %}
					<i><font color="red">(ITEM HAS SOLD TO {{object.buyer}} ) </font></i>
					<br>
				{% endif %}
			{% else %}
			{% include 'products/snippets/update-cart2.html' with product=object cart=cart %}

			{% endif %}
			<br>
			{{ object.description|linebreaks }}





			<!-- {% include 'products/snippets/featured-cart.html' with product=object %} -->
		</div>
		
	</div>
</div>

{% endblock %}
