{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- CSS PORTION -->
<style>
.col{
	display: grid;
	justify-content: center;
	align-items: center;
}
h3{
	text-align:center;
}
.box1{
	height: 33vh;
	width: 100%;
	background-image: url('{% static 'img/banner11.jpg' %}');
	background-attachment: ;
	background-size: cover;
	background-position:  center;
	background-repeat: no-repeat;
	display: table;
}
h1{
	font-family: Euclid;
	font-size: 48px;
	color: #fff;
	margin: 0px;
	text-align: center;
	display: table-cell;
	vertical-align: bottom;

}
</style>


<!-- this is our staff page / banner -->
<div class="box1">
	<h1><p style=" display: table-cell; padding: 1em; position: center;">
	Curated Picks from Staff</p></h1>
</div>
<br>
<br>

<!-- this portion displays the products underneath the banner -->
<div class='row'>
{% for obj in object_list %}
	<div class="col">
		{% include 'products/snippets/card.html' with instance=obj %}
		{% if forloop.counter %}
			</div>
			<div class="grid"></div>
		{% else %}	
			</div>
		{% endif %} 
	{% endfor %}
</div>
{% endblock %}