{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
.col{
	display: grid;
	justify-content: center;
	align-items: center;
}
h3{
	text-align:center;
}
.box1{
	height: 40vh;
	width: 100%;
	background-image: url('{% static 'img/banner6.jpg' %}');
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	display: table;
}
h1{
	font-family: Euclid;
	font-size: 48px;
	color: #fff;
	margin: 0px;
	text-align: center;
	display: table-cell;
	vertical-align: bottom;

}

</style>


<div class="box1">
	<h1><p style=" display: table-cell; padding: .5em; position: center;">
	Curated Picks from Staff</p></h1>
</div>
<br>
<br>
<div class='row'>

{% for obj in object_list %}
	<div class="col">
		{% include 'products/snippets/card.html' with instance=obj %}

		{% if forloop.counter %}
			</div>
			<div class="grid"></div>
			
		
		{% else %}
			
			</div>
		{% endif %} 

	{% endfor %}
	
</div>
{% endblock %}