{% extends "base.html" %}

{% block content %}

<div class='text-center'>
	<h1 >{{ title }}</h1>
	<h1>Create new listing</h1>
</div>
<div class='container'>
	<div class='row'>
    	<div class='col'>
    		<p>{{ content }}</p>
    		<div class='col-sm-6 col-12'>

    		<form enctype="multipart/form-data" method='POST'> {% csrf_token %}
				{{ form.as_p }}
				<br>
				<br>
	    		<button type='submit' class='btn btn-danger'>Post</button>
	    	</form>

    		</div>
		</div>
	</div>
</div>
{% endblock %}
