{% extends "base.html" %}

{% block content %}
<style>
.field-title label{
	font-size: 17px;

}
</style>

	<h1>{{ title }}</h1>
<h3 style ="text-indent: 1.1em;">Add a New Listing</h3>

<div class='container'>
	<div class='row'>
    	<div class='col'>
    		<p>{{ content }}</p>
    		<div class='col-sm-6 col-12'>

			<form enctype="multipart/form-data" method='POST'> {% csrf_token %}
				<div class="field-title"><strong>
				{{ form.as_p }}
				</strong></div>

	    		<button type='submit' class='btn btn-danger'>Publish</button>
	    	</form>

    		</div>
		</div>
	</div>
</div>
{% endblock %}
