{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- CSS CONTENT -->
<style>
.col{
	display: grid;
	justify-content: center;
	align-items: center;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.checkout{
  background-color:none;
  color: white;
}
.checkout:hover{
  text-decoration: none;
}
.title{
  background-color:none;
  color: black;
  font-size:17px;
  padding: 15px;
}
.title:hover{
  text-decoration: none;
}
.h3{
  text-align: center;
}
.header{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  list-style-type: none;
  margin:0;
  padding: 2%;
  position:absolute;
  left: 7%;
  right: 0;
}
.second_nav{
	text-align: left;
}
.container{
	padding-left: 80px;
}
</style>

<!-- This is the side bar for the My Account page -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<br>		  
<div class="second_nav">
	<div class ="header">
		<li><button class="w3-bar-item w3-button" onclick="displayData('For Sale')">My Items</button></li>
		<li><button class="w3-bar-item w3-button" onclick="displayData('Purchase History')">Purchases</button></li>
		<li><button class="w3-bar-item w3-button" onclick="displayData('Items Sold')">Sales</button></li>
		<li><button class="w3-bar-item w3-button"><a style="text-decoration:none" href="{% url 'logout' %}">Log out</a></button></li>
	</div>
</div>

<!-- Display the Purchases page in My Account -->
<div id="Purchase History" class="w3-container city" style="display:none">
	<h3><center>Items You Have Purchased</center></h3>
	{% if object_list.exists %}
	<div class="container">
		<table id="for_sale" class="table table-hover table-condensed">
			<thead>
				<tr>
					<th style="width:50%">Product</th>
					<th style="width:15%">Price</th>
					<th style="width:25%">Purchased From</th>
					<th style="width:10%"></th>
				</tr>
			</thead>
			<tbody>
			{% for product in object_list.all %}
				{% if product.active == False %}
					{% if product.buyer == user %}
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><a href ='{{ product.get_absolute_url }}'><img src="{{ product.image.url }}" width="150%" height="" alt="..." class="img-responsive"/></a></div>
									<div class="col-sm-10">
										<h4 class="nomargin">
										<a style="text-decoration: none" href='{{ product.get_absolute_url }}'> <div class ="title">&ensp;&ensp;{{ product.title }}</div></a></h4>
									</div>
								</div>
							</td>
							<td data-th="Price">${{ product.price }}</td>
							<td data-th="Purchased from">
							<div> <strong><i><font color="red"><a href="{% url 'products:user-products' author=product.author %}"> {{ product.author }}</a></font></i></strong></div></td>
					{% endif %}
				{% endif %}
			{% endfor %}
						</tr>
			</tbody>
		</table>
	</div>
	{% endif %}
</div>

<!-- Display the My Items page in My Account -->
<div id="For Sale" class="w3-container city">
<h3><center>Your Items for Sale</center></h3>
{% if object_list.exists %}
<div class="container">
	<table id="for_sale" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:60%">Product</th>
							<th style="width:15%">Price</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>

              {% for product in object_list.all %}
              	{% if product.active == True %}
              		{% if product.author == user %}
						<tr>
							<td data-th="Product">
								<div class="row">
               
									<div class="col-sm-2 hidden-xs"><a href ='{{ product.get_absolute_url }}'><img src="{{ product.image.url }}" width="150%" height="" alt="..." class="img-responsive"/></a></div>
               
                  <div class="col-sm-10">
										<h4 class="nomargin">
                      <a style="text-decoration: none" href='{{ product.get_absolute_url }}'><div class ="title">&ensp; {{ product.title }}</div></a>
                    </h4>
									</div>
								</div>
							</td>
							<td data-th="Price">${{ product.price }}</td>
              {% endif %}
              {% endif %}
              {% endfor %}
						</tr>
          </tbody>
           
				</table>
</div>

{% endif %}
</div>


<div id="Items Sold" class="w3-container city" style="display:none">

<h3><center>Your Sold Items</center></h3>

{% if object_list.exists %}
<div class="container">
	<table id="sold" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:30%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:20%">Purchased By</th>
							<th style="width:30%">Ship To</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						
              {% for product in object_list.all %}
              	{% if product.active == False %}
              		{% if product.author == user %}
						<tr>
							<td data-th="Product">
								<div class="row">
               
									<div class="col-sm-2 hidden-xs"><a href ='{{ product.get_absolute_url }}'><img src="{{ product.image.url }}" width="150%" height="" alt="..." class="img-responsive"/></a></div>
               
                  <div class="col-sm-10">
										<h4 class="nomargin">
                      <a style="text-decoration: none" href='{{ product.get_absolute_url }}'> <div class ="title">{{ product.title }}</div></a>
                    </h4>
									</div>
								</div>
							</td>
							
			              <td data-th="Price">${{ product.price }}</td>
										<td data-th="Purchased By">
			                <div> <strong><i><font color="red"><a href="{% url 'products:user-products' author=product.buyer %}"> {{ product.buyer }}</a></font></i></strong></div>
			              </td>
						  <td data-th="Ship To">{{ product.shipping|linebreaks }}</td>
              {% endif %}
              {% endif %}
              
              {% endfor %}
						</tr>
          </tbody>
           
				</table>
</div>
{% endif %}
</div>



<script>
function displayData(cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  document.getElementById(cityName).style.display = "block";  
}
</script>

</body>

{% endblock %}