{% extends "base.html" %}
{% block content %}

<!-- CSS CONTENT -->
<style>
.col{
	display: grid;
	justify-content: center;
	align-items: center;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.checkout{
  background-color:none;
  color: white;
}
.checkout:hover{

  text-decoration: none;
}
.title{
  background-color:none;
  color: black;
  font-size:17px;
  padding: 15px;
}
.title:hover{

  text-decoration: none;
}
.h3{
  text-align: center;
}
.category_bar{
	list-style:none;
	padding: 6px;
}

</style>

<!-- This is for personal user account, it displays their transaction -->
<h4><center>Items for Sale by: <i><strong>{{author}}</strong><i></center></h4>
{% if object_list.exists %}
<div class="container">
	<table id="for_sale" class="table table-hover table-condensed">
		<thead>
			<tr>
				<th style="width:60%">Product</th>
				<th style="width:15%">Price</th>
				<th style="width:10%"></th>
			</tr>
		</thead>
		<tbody>
			{% for product in object_list.all %}
			{% if product.active == True %}
				{% if product.author.username == author %}
					<tr>
						<td data-th="Product">
							<div class="row">
								<div class="col-sm-2 hidden-xs"><a href ='{{ product.get_absolute_url }}'><img src="{{ product.image.url }}" width="150%" height="" alt="..." class="img-responsive"/></a></div>
								<div class="col-sm-10">
								<h4 class="nomargin">
								<a style="text-decoration: none" href='{{ product.get_absolute_url }}'> <div class ="title">{{ product.title }}</div></a></h4>
								</div>
							</div>
						</td>
						<td data-th="Price">${{ product.price }}</td>
				{% endif %}
			{% endif %}
			{% endfor %}
					</tr>
          </tbody>
				</table>
	</div>

	{% endif %}
</div>
{% endblock %}

