<style>
.card-img-top{
    height: 350px;
}

.card-stamp{
	font-size:10px;
	height:5px;
}
.card-title{
	font-size:90%;
	font-weight: bold;
}
.card-description{
	font-size:90%;
}
.card-price{
	font-size:90%;
	font-weight: bold;
}
.link{
	color: black;
   text-decoration: none; 
   background-color: none;
   
}
.card{
	display: grid;
	width:17rem;
	border:none;
}
</style>

<div class="card">
	
	{% if instance.image %}
		<a href="{{ instance.get_absolute_url }}">
  			<img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }}">
  		</a> 
  		{% endif %}
  	<div class="card-body">
		<p class="card-stamp">{{ instance.timestamp}}</p>
		<hr align="center" width="100%">
		<a style="text-decoration:none" href="{{ instance.get_absolute_url }}">
		<div class ="link">
    	<h5 class="card-title">{{ instance.title}}</h5>
		<p class="card-description">{{ instance.description}}</p>
		</div></a>
		
		<!-- <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a> -->
		<p class="card-price">${{ instance.price}}</p>
	
      <!-- <a href="{% url 'products:detail' slug=instance.slug %}" class="btn btn-warning">URL shortcut</a> -->
  	</div>
</div>